table {
    border-collapse: collapse;
    width: 600px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;

    th {
        background-color: skyblue;
        color: white;
        padding: 12px;
        font-size: 18px;
    }

    td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }

    td img {
        border-radius: 8px;
    }
}